@model NetoPortfolio.Models.Person
@{
    ViewData["Title"] = "Home Page";
}


<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="#contact" class="nav__logo">NetoChukwu</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<main class="l-main">
    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
        <div class="home__data">
            <h1 class="home__title">Hi,<br>I am <span class="home__title-color">@Model.FirstName @Model.LastName
                   </span><br> DotNet Software Engineer</h1>

            <a href="#contact" class="button">Contact</a>
        </div>

        <div class="home__social">
            <a href="https://www.linkedin.com/in/netochukwu-anyankah-b0b4b9114/" class="home__social-icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/neytoe" class="home__social-icon" target="_blank"><i class='bx bxl-github'></i></a>
        </div>

        <div class="home__img">
            <img src="assets/img/perfil.png" alt="">
        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about section " id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
            <div class="about__img">
                <img src="~/@Model.Image" alt="">
            </div>

            <div>
                <h2 class="about__subtitle">I am @Model.FirstName</h2>
                <p class="about__text">@Model.About</p>
</div>
        </div>
    </section>

    <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
        <h2 class="section-title">Skills</h2>

        <div class="skills__container bd-grid">
            <div>
                @foreach (var item in Model.Skills)
                {
                    <div class="skills__data">
                        <div class="skills__names">
                            <span class="skills__name">@item</span>
                        </div>
                    </div>
                }
      
            </div>

            <div>
                <img src="~/img/work3.jpg" alt="" class="skills__img">
            </div>
        </div>
    </section>
    
    <!--===== WORK =====-->
    <section class="work section" id="work" style="margin-bottom: -20rem">
        <h2 class="section-title">Work</h2>

        <div class="work__container bd-grid">
            @foreach (var item in Model.WorkPhotos)
            {
                <a href="@item.Link" target="_blank">
                    <div class="work__img">
                        <img src="~/@item.Photo" alt="">
                    </div>
                </a> 
            }
        </div>

        </section>

    <!--===== CONTACT =====-->
    <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
            <form action="" class="contact__form">
                <input type="text" placeholder="Name" class="contact__input">
                <input type="email" placeholder="Email" class="contact__input">
                <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                <input type="button" value="Send Message" class="contact__button button">
            </form>
        </div>
    </section>
</main>


